tqdm==4.62.2
torchvision==0.10.0
numpy==1.18.5
tensorflow==2.3.0
matplotlib==3.2.1
opencv_python_headless==4.5.3.56
torch==1.9.0
azureml_mlflow==1.34.0
autograd==1.3
azureml==0.2.7
easydict==1.9
geomloss==0.2.4
Pillow==8.3.2
torchmetrics[image]==0.5.1
